/* -- Feedback Button Styles -- */

#atlwdg-trigger {
  background: #263238;
  font: normal 14px/1 'Open Sans', sans-serif;
  letter-spacing: 1px;
  z-index: 9999;
  padding: 7px 12px 6px;
  color: #fff !important;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#atlwdg-trigger:hover {
  background: #455A64;
}
