label{
  display: block;
  font: normal 12px/1.4 $rk;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 1px;
  .form-required{
    color: $red;
  }
  &.option{
    color: $black;
    text-transform: none;
    vertical-align: middle;
    margin-bottom: 8px;
    display: inline;
    cursor: pointer;
  }
  & + *{
    margin-top: $bottom;
  }
}

input,
textarea{
  background: $white;
  padding: $padding;
  border: 1px solid $gray;
  border-bottom: 3px solid $gray;
  font: normal 18px/1.5 $rl;
  color: $black;
  @include box-sizing(border-box);
  @include transition(border-color 0.2s);
  &:focus{
    border-bottom-color: $blue;
    outline: 0;
  }
  &.error{
    border-bottom-color: $red;
  }
  &[disabled=disabled]{
    background: $bg;
    border-bottom-color: $dkgray;
  }
  &[type=checkbox],
  &[type=radio]{
    width: auto;
    display: inline-block;
  }
}

textarea{
  padding-bottom: 40px;
}

input[type="submit"] {
  display: inline-block;
  background: $gray;
  color: $white;
  font: normal 22px/1 $rb;
  width: auto;
  padding: 1.5rem 3rem;
  border: none !important;
  margin: 0 1.5rem 1.5rem 0;
  cursor: pointer;
  @include transition(background 0.2s);
  &#edit-submit,
  &#edit-next,
  &#edit-save,
  &#edit-continue{
    background: $blue;
    &:hover,
    &:focus{
      background: $dkblue;
    }
  }
  &#edit-delete,
  &#edit-cancel,
  &.remove{
    background: $red;
    &:hover,
    &:focus{
      background: darken($red, 5%);
    }
  }
  &:hover,
  &:focus{
    background: $dkgray;
  }
}

fieldset,
.container-inline{
  border: 1px solid $gray;
  padding: 2rem;
}

.form-wrapper{
  margin-bottom: 2rem;
  &:last-child{
    margin-bottom: 0;
  }
}

.form-field-type-field-collection{
  border: 1px solid $gray;
  padding: 0.5rem 1rem;
}

form .field-multiple-table{
  margin-bottom: 1rem;
}

.form-item{
  margin-bottom: $bottom * 3;
  &:last-child{
    margin-bottom: 0;
  }
  &.form-type-password-confirm{
    position: relative;
    .password-strength{
      position: absolute;
      right: 0;
      top: 32px;
      width: 50%;
      height: 32px;
      border: 1px solid $gray;
      margin: 0;
      @include box-sizing(border-box);
    }
    .password-indicator{
      background-color: $white;
      height: 100%;
    }
    .password-strength-title,
    .password-strength-text{
      font: normal 12px/32px $rm;
      position: absolute;
      top: 0;
      left: 20px;
      color: $dkblue;
    }
    .password-strength-text{
      left: auto;
      right: 20px;
    }
    .indicator{
      background: $ltblue;
    }
  }
  &.confirm-parent{
    & > div{
      position: absolute;
      left: -20px;
      top: -2px;
      text-indent: -9999px;
      width: 14px;
      height: 12px;
      margin: 0;
    }
    .ok{
      background: url(../img/check.png) no-repeat;
      width: 14px;
      height: 12px;
      position: absolute;
      top: 0;
      left: 0;
      &:after{
        content: '';
        background: url(../img/check.png) no-repeat;
        width: 14px;
        height: 12px;
        position: absolute;
        top: 171px;
        left: 0;
      }
    }
  }
  .password-suggestions{
    position: absolute;
    right: 0;
    top: 86px;
    width: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    @include box-sizing(border-box);
  }
  .description{
    font: normal 12px/1.5 $rm;
    color: $dkgray;
    margin-top: 12px;
  }
}

.form-radios,
.form-checkboxes,
.form-type-checkbox,
.form-type-radio{
  .form-item{
    margin-bottom: 0 !important;
  }
}

.fieldset-description{
  margin-bottom: $bottom * 2;
  font-family: $rli;
}

.collapsible{
  &.collapsed{
    legend{
      a:before{
        @include rotate(0);
      }
    }
  }
  legend{
    a{
      text-decoration: none !important;
      &:before{
        content: '';
        display: inline-block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid $dkgray;
        @include rotate(90deg);
        vertical-align: middle;
        margin-bottom: 4px;
      }
    }
  }
}

.form-type-textfield{
  position: relative;
  input{
    position: relative;
    z-index: 1;
  }
  .field-suffix{
    position: absolute;
    z-index: 10;
    right: 28px;
    top: 50%;
    margin-top: -12px;
  }
  .machine-name-label{
    display: none;
  }
  .machine-name-value{
    color: $dkgray;
    margin-right: 8px;
  }
  .admin-link{
    &:after,
    &:before{
      content: '';
    }
  }
}

// Select

select{
  background: $white;
  color: $black;
  font: normal 18px/1.5 $rl;
  border: 1px solid $gray;
  border-bottom: 3px solid $gray !important;
  padding: $padding;
  padding-right: 3rem;
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: calc(100% - 1rem) 50%;
  &.highlighted{
    background: $blue;
  }
}

.link-field-subrow{
  display: flex;
}

#content .vertical-tabs{
  margin: 0 0 2rem;
  display: flex;
  border: 1rem solid $gray;
  .vertical-tabs-list{
    border: none;
    background: $gray;
    color: $black;
    width: 30rem;
    margin: 0;
    li{
      border: none;
      background: none;
      font-size: 18px;
      &:hover,
      &:focus{
        outline: none;
      }
      a:after{
        content: "";
        display: block;
        width: 0;
        padding: 0.5rem;
        background: $ltblue;
        border: 0.5em solid $bg;
        border-radius: 2rem;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -1em 0 0 -1rem;
        opacity: 0;
        transition: opacity $timing, border $timing;
      }
      &.selected{
        color: $dkgray;
        a:after{
          opacity: 1;
        }
      }
      a{
        padding: 2rem;
        position: relative;
        color: inherit;
        &:hover,
        &:focus{
          outline: none;
        }
      }
      strong{
        color: inherit;
      }
    }
    .summary:not(:empty){
      display: block;
      font-style: italic;
      font-size: 11px;
      margin-top: 16px;
    }
  }
  .vertical-tabs-panes{
    flex: auto;
    width: 100%;
  }
  .vertical-tabs-pane{
    padding: 2rem;
  }
}

// Specific items

#edit-title{
  padding: 24px 0;
  background: none;
  border: none;
  border-bottom: 3px solid $blue;
  font-weight: 200;
  font-size: 2.5em;
  color: $dkblue;
  padding: 0 0 24px;
  &:focus{
    outline: none;
  }
}

.form-type-checkbox + .form-type-checkbox {
  margin-top: 0;
}

.button {
  padding: $padding;
  background-color: #DDD;
  color: $white;
  font-family: "RobotoBold";
  margin-right: 1rem;
  display: inline-block !important;
}

.context-plugins{
  .context-plugin-form{
    .form-checkboxes {
      max-height: none;
    }
  }
  .context-plugin-info{
    padding: 2rem;
  }
}