body{
  background: $bg;
  color: $black;
  font-family: $rr;
  margin: 0;
  line-height: 1.6;
}

#content{
  padding: 2rem 3rem;
  & > header{
    margin-bottom: 3rem;
  }
}

#page-title{
  margin: 0;
}

.breadcrumb{
  font-family: $rl;
  font-size: 18px;
  line-height: 1;
  padding: 0;
  color: $gray;
  ul,
  ol{
    padding: 0;
  }
  li{
    display: inline-block;
  }
  .separator{
    margin: 0 0.5rem;
  }
}

h1{
  font: normal 39px/1.5 $rt;
  color: $blue;
  border-bottom: 3px solid $blue;
  margin-bottom: $bottom * 3;
  height: auto !important;
}

h2{

}

h3{
  font: normal 27px/1.5 $rl;
}

h4{
  font: normal 23px/1.5 $rl;
}

h5{

}

h6{

}

small {
  color: #BABABA;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 0.5rem;
}

a{
  color: $blue;
  text-decoration: none;
  &:hover,
  &:focus{
    text-decoration: underline;
  }
  &:visited{
    color: $dkblue;
  }
}

p{
  margin-bottom: $bottom;
}

form{
  padding-bottom: $bottom * 3;
}

fieldset{
  margin-bottom: 2rem;
}

table{
  width: 100%;
  font-size: 0.8rem;
  border: 1px solid $gray;
  border-collapse: collapse;
}

th{
  border-bottom: 3px solid $gray;
  padding: 1rem 0.5rem;
  text-align: left;
  font-family: 'RobotoBold';
}

tr{
  border-bottom: 1px solid $gray;
}

td {
  line-height: 2;
  padding: 0.75rem 0.5rem;
}

legend{
  @extend h4;
  line-height: 1;
  a{
    text-decoration: none;
    display: inline-block;
    &:hover{
      color: $blue;
    }
  }
}

.description {
  font-style: italic;
  font-size: 0.8rem;
}

.links.inline{
  padding: 0;
  li{
    display: inline-block;
    margin: 0.5rem;
  }
}