// Colors
$bg:     #f4f4f4;
$gray:   #dbdbdb;
$dkgray: #c8c8c8;
$black:  #707070;
$blue:   #00c2e7;
$dkblue: #00b5d8;
$ltblue: #9ef0ff;
$red:    #ED5F00;
$white:  #fff;

// Fonts
$rr:   'RobotoRegular', sans-serif;
$ri:   'RobotoItalic', sans-serif;
$rb:   'RobotoBold', sans-serif;
$rbi:  'RobotoBoldItalic', sans-serif;
$rc:   'RobotoCondensed', sans-serif;
$rci:  'RobotoCondensedItalic', sans-serif;
$rbci: 'RobotoBoldCondensedItalic', sans-serif;
$rt:   'RobotoThin', sans-serif;
$rti:  'RobotoThinItalic', sans-serif;
$rl:   'RobotoLight', sans-serif;
$rli:  'RobotoLightItalic', sans-serif;
$rm:   'RobotoMedium', sans-serif;
$rmi:  'RobotoMediumItalic', sans-serif;
$rk:   'RobotoBlack', sans-serif;
$rki:  'RobotoBlackItalic', sans-serif;

// Standards
$bottom: 20px;
$tabsize: 17rem;
$contentgutter: 6rem;

$timing: 0.15s ease;

$padding: 1.5rem 2rem;